*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;}

.navbar{
    text-align: center;
    background-color: #9DB2BF;
    word-spacing: 90px;
    height: 50px;
    padding-top: 20px;
    text-decoration-line: none;
    }

body{
    background-color: #27374D;
    color: aliceblue;
}
